.square {

    background-color:lightgray;
}

#container {
    display:flex;
    justify-content: center;
    height:1000px;
    width:1000px;
    margin:auto;
}

.square:hover {
    background-color: gray;
}