.square {
    
    /*background-color:lightgray;*/
}

#container {
    display:flex;
    justify-content: center;
    height:750px;
    width:750px;
    margin:auto;
    background-image: url(../etch-a-sketch/savero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 750px 750px;
    background-position: center top;
}

.square:hover {
    background-color: gray;
}

.changeSize {
    text-align: center;
    margin:10px;
}
