.square {

    background-color:lightgray;
}

#container {
    display:flex;
    justify-content: center;
    height:750px;
    width:750px;
    margin:auto;
}

.square:hover {
    background-color: gray;
}